mock
testtools
fixtures
webtest
neutron<17.0.0,!=16.3.0

# pinned deps - version to set max for py36, less-or-equal to compatibility with py27
SQLAlchemy<1.4.0
oslotest
oslo.db<11.0.0
oslo.policy<3.6.2
pyroute2<0.6
